<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>{% block title %} mtube {% endblock %}</title>
    
  </head>
  
  <body >
    
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" >
        <a style="font-style: italic;"class="navbar-brand" >Welcome to Mtube</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li style="margin-left:8px;margin-right: 8px;" class="nav-item">
              <a class=" btn btn-outline-info my-2 my-sm-0"  href="/home_page/">Home</a>
            </li>
            <li style="margin-left:8px;margin-right: 8px;" class="nav-item">
              <a class=" btn btn-outline-info my-2 my-sm-0"  href="/about/">About</a>
            </li>
            <li class="nav-item">
                <a class=" btn btn-outline-info my-2 my-sm-0" href="/contact/">Contact</a>
            </li>
            
          </ul>
          
          <form class="form-inline my-2 my-lg-0" action="/search/" method='GET'>
            <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search your movie" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      
    </div>
    {% block card %} {% endblock %}
  </body>
</html>



